<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> <!-- this is absolute path -->
    </head>
    <body>
        {{!-- <h1>Title from about html page</h1> --}}
        {{!-- <h1>{{title}}</h1> --}}
        <div class="main-content">
            {{>header}}
            <p>This site was created by Vivaansh :). It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="/img/Viv.jpg">
        {{!-- <p>Created by {{name}}</p> --}}
        </div>
        {{>footer}}
    </body>
</html>